{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": ["syntax-object-rest-spread"],
  "sourceMaps": true,
  "retainLines": true
}
